* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Gilroy;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.nav {
  height: 12vh;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
  background-color: #111;
}
.nav h1 {
  font-size: 1.6vw;
}
.nav .nav2 {
  z-index: 10;
  display: flex;
  gap: 2vw;
  position: relative;
  align-items: flex-start;
  padding: 1vh 0;
}
.nav .nav2 h4 {
  font-size: 0.73vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.6vw;
}
.nav .nav2 h5 {
  margin-bottom: 1vw;
  display: none;
  overflow: hidden;
}
.nav .nav2 h5 span {
  font-size: 0.77 vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}
.nav button {
  background-color: #0BA34E;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  border: none;
}
.nav button svg {
  padding: 0vw 0vw 0vw 1.6vw;
  height: 0.8vw;
  background-color: #0DA34E;
}
.nav .nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  background-color: #111;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid white;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8.5vw;
}
.page1 h1 svg {
  height: 6vw;
  width: 6vw;
  background-color: #0DA34E;
  border-radius: 50%;
}
.page1 p {
  font-size: 2.5vh;
  font-weight: 400;
  text-align: center;
  margin-top: 3vh;
}
.page1 .page1b {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 .page1b h4 {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1vw;
  padding: 5px 10px;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
  margin: 1vw 0.4vw;
}
.page1 .page1b :nth-child(3) {
  border: none;
  padding: 0;
  font-weight: 500;
}

.moving-div {
  white-space: nowrap;
  padding: 1.2vw;
  width: 44%;
  overflow: hidden;
  position: absolute;
  bottom: 3%;
}
.moving-div .move {
  display: inline-block;
  align-items: center;
  gap: 2vw;
  animation: moveBox 9s linear infinite;
}
.moving-div .move img {
  height: 1vw;
  margin: 0 1vw;
}

@keyframes moveBox {
  0% {
    transform: translateX(0);
  } /* Start at the original position */
  /* Move 100px to the right */
  100% {
    transform: translateX(-100%);
  } /* Return to the original position */
}
.blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.blur-right {
  background: linear-gradient(to right, transparent, #111);
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}/*# sourceMappingURL=style.css.map */